<div class="prof_cont">
    <h2 class="mat-title">{{user.name}} - {{course.name}} {{course.year}}</h2>
    <h2 class="mat-headline"><span class="heavier">Issue</span> a survey</h2>
</div>

<mat-divider></mat-divider>
<div class="prof_cont">
    <h3 class="mat-title">Write a new survey</h3>
</div>
<div class="active_scrollable">
  <mat-card (click)="changeView()">
      <div >
        <mat-card-title> <mat-icon mat-list-icon>add</mat-icon> New Survey </mat-card-title>
        <mat-card-subtitle>questions</mat-card-subtitle>
      </div>
  </mat-card>
</div>


<mat-divider></mat-divider>
<div class="prof_cont">
    <h3 class="mat-title">Select from existing templates</h3>
</div>

<div class="active_scrollable_temps">
  <div *ngFor="let temp of templates" style="  display:flex; flex-direction:row;">
    <mat-card  (click)="changeView(temp)" style="flex-grow:3">
      <mat-card-title> <mat-icon mat-list-icon>insert_drive_file</mat-icon> {{temp.title}}</mat-card-title>
      <mat-card-subtitle>{{temp.creator}} - {{temp.questions.length}} questions</mat-card-subtitle>
    </mat-card>
    <mat-card  *ngIf="temp.creator == this.user.matriculation" style="flex-grow:1; text-align: center;">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeTemplate(temp)" style=" margin:auto;" >
        <mat-icon class="del">delete</mat-icon>
      </button>
    </mat-card>

  </div>

</div>
