<div class="prof_cont">
    <h2 class="mat-title"><span class="heavier">Templates</span> - {{user.name}}</h2>
</div>
<mat-divider></mat-divider>
<div class="prof_cont">
    <h3 class="mat-subheading-2">Select the template to start from</h3>
</div>

<div class="active_scrollable">
  <mat-card *ngFor="let temp of templates">
      <div>
        <mat-card-title> <mat-icon mat-list-icon>assignment_turned_in</mat-icon> {{temp.title}}</mat-card-title>
        <mat-card-subtitle>{{temp.creator}} - {{temp.questions.length}} questions</mat-card-subtitle>
      </div>
  </mat-card>
</div>
