<StackLayout class="form">
<Label class="h2" textWrap="true">
  <FormattedString>
    <Span [text]="questionnaire.title" style="font-weight: bold"></Span>
  </FormattedString>
</Label>
<StackLayout class="hr-light m-10"></StackLayout>

<ScrollView>
  <StackLayout>
    <StackLayout class="card" *ngFor="let question of questions">
      <Label class="section-header h2" [text]="question.question" textWrap="true"></Label>

      <StackLayout *ngIf="question.range != undefined">
        <ListPicker [items]="question.range" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged([$event, question.id])" class="p-15" style="height:300px;"></ListPicker>
      </StackLayout>

      <StackLayout *ngIf="question.max_len != undefined">
        <StackLayout class="input-field">
          <TextField [(ngModel)]="this.answers['essay_'+question.id]" ></TextField>
        </StackLayout>
      </StackLayout>

      <StackLayout *ngIf="question.choices != undefined">
        <Button *ngFor="let option of question.choices" class="btn btn-rounded-sm" [text]="option" (tap)="onTap([$event, option, question.id])" style="color: white; background-color: #00bbff; width:50%;"></Button>
      </StackLayout>

    </StackLayout>

    <Button class="btn btn-primary btn-rounded-sm" text="Submit" (tap)="this.submit()"></Button>

  </StackLayout>
</ScrollView>
</StackLayout>
