.mat-list-icon{
  color: rgba(0, 0, 0, 0.54);
}
.prof_cont{
  padding: 20px 2em 0em 1em;
}
span{
  font-size: 25px;
  font-weight: bold;
}
.heavier{
  font-size: 25px;
  font-weight: bold;
}
.mat-subheading-2{
    margin-bottom: 0;
}
mat-card{
  margin-top: 1em;
  cursor: pointer;
  display:flex;
  flex-direction:row;
}
.active_scrollable{
  max-height: 30%;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 16px;
}
.del{
  margin:auto;
  height: auto;
  width:auto;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.54);
}
.creator_container{
  display:flex;
  border: 1px solid #ebebeb;
  margin:1em 0 1em 0;
  padding: 1em 1em 1em 1em;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
.upper_form{
  display:flex;
  flex-direction: column;
  max-width:90%;
}
