.cardStyle {
    background-color: #F0F0F0;
    color: black;
}

.card{
  background-color: #F0F0F0;
  color: black;
  
  border-width: 2;
  border-radius: 2;
  margin-top: 5;
  margin-bottom: 5;
  padding: 5;
}
