<StackLayout class="form">
  <Label class="h2">
    <FormattedString>
      <Span text="Courses" style="font-weight: bold"></Span>
      <Span [text]="' of ' + user.name"></Span>
    </FormattedString>
  </Label>
  <StackLayout class="m-10"></StackLayout>

  <Label text="Active course"></Label>
  <StackLayout class="hr-dark m-10"></StackLayout>

  <ScrollView>
    <CardView class="cardStyle" elevation="40" *ngFor="let course of active_courses" (tap)="test()">
      <GridLayout rows="auto, auto, auto" columns="auto, auto, auto">
        <Label class="icon" [text]="uni_icon" row="0" col="0" rowSpan="2"></Label>
        <Label [text]="course.name" class="h2" row="0" col="1"></Label>
        <Label [text]="course.cfu + ' CFU - ' + course.degree" class="h4" row="1" col="1"></Label>
      </GridLayout>
    </CardView>
  </ScrollView>

  <StackLayout class="m-20"></StackLayout>
  <Label text="Expired course"></Label>
  <StackLayout class="hr-dark m-10"></StackLayout>

  <ScrollView>
    <StackLayout class="card" *ngFor="let course of expired_courses" (tap)="test()">
      <GridLayout rows="auto, auto, auto" columns="auto, auto, auto">
        <Label class="icon" [text]="uni_icon" row="0" col="0" rowSpan="2"></Label>
        <Label [text]="course.name" class="h2" row="0" col="1"></Label>
        <Label [text]="course.cfu + ' CFU - ' + course.degree" class="h4" row="1" col="1"></Label>
      </GridLayout>
    </StackLayout>
  </ScrollView>

</StackLayout>
