<StackLayout class="form">
  <StackLayout class="input-field">
    <TextField hint="Matriculation number" keyboardType="email" [(ngModel)]="mat" autocorrect="false" autocapitalizationType="none"></TextField>
  </StackLayout>
  <StackLayout class="input-field">
    <TextField hint="Password" secure="true" [(ngModel)]="pass"></TextField>
  </StackLayout>

  <Button class="btn btn-primary btn-rounded-sm" text="Sign in" (tap)="login()"></Button>

  <StackLayout class="hr-dark m-10"></StackLayout>

  <StackLayout class="input-field">
    <TextField hint="Server IP" keyboardType="url" [(ngModel)]="this.config.address"></TextField>
  </StackLayout>
  <StackLayout class="input-field">
    <TextField hint="Server Port" keyboardType="number" [(ngModel)]="this.config.port"></TextField>
  </StackLayout>
</StackLayout>
