<StackLayout class="form-login">
  <StackLayout class="input-field">
    <TextField hint="Matriculation number" keyboardType="email" [(ngModel)]="this.mat" autocorrect="false" autocapitalizationType="none"></TextField>
  </StackLayout>
  <StackLayout class="input-field">
    <TextField hint="Password" secure="true" [(ngModel)]="this.pass"></TextField>
  </StackLayout>

  <Button class="btn btn-primary btn-rounded-sm" text="Sign in" (tap)="login()"></Button>

  <StackLayout class="hr-dark m-10"></StackLayout>

  <StackLayout class="input-field">
    <TextField hint="Server IP" keyboardType="url" [(ngModel)]="this.ip"></TextField>
  </StackLayout>
  <StackLayout class="input-field">
    <TextField hint="Server Port" keyboardType="number" [(ngModel)]="this.port"></TextField>
  </StackLayout>

</StackLayout>
